<body>
  <header>
    <div data-sticky-container>
      <div class="sticky" id="example" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="topAnchorExample" data-btm-anchor="bottomOfContentId:bottom" data-sticky-on="large">
        <div class="top-bar">
          <div class="top-bar-title">
            <h3>Budget App</h3>
          </div>
          <div class="top-bar-left">
            <ul class="dropdown menu inline-list" data-dropdown-menu>
              <li><a class="nav-li budget" href="/budget">Budget</a></li>
              <li><a class="nav-li transactions" href="/transactions">Transactions</a></li>
              <li><a class="nav-li buckets" href="/buckets">Buckets</a></li>
            </ul>
            <!--{% if balance %}
              <h1 class="headline">Net Worth: <small>{{ "${:,.2f}".format(balance) }}</small>
              </h1>
            {% else %}
              <h1 class="headline">Net Worth: <small>{{ "${:,.2f}".format(0.00) }}</small>
              </h1>
            {% endif %}-->
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a class="logout" href="">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </header>
</body>
